@model ImageServiceWeb.Models.Photo

@{
    ViewBag.Title = "DeletePhoto";
}

<h2>@Model.Name - DELETE</h2>
<h3>@Model.ID, @Model.Month, @Model.Year</h3>
<img src="https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_400x400.jpg" />

Are you sure you want to delete this image?
@Html.ActionLink("Yes", "DeletePhoto", new { id = Model.ID })
@Html.ActionLink("No", "PhotoScreen", new { id = Model.ID })

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
