@model ImageServiceWeb.Models.PhotosModel
@{
    ViewBag.Title = "Gallery";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/Gallery.css">
</head>

<h2>Gallery</h2>
<table>
    <tr>
        <td>
            <div class="table-width">
                @{
                    foreach (var image in Model.Photos)
                    {

                        <div class="td-width">
                            <div class="text-center view zoom img-circle">
                                <img src="@Url.Content("..\\"+@image.Path)" width="@image.Size" height="@image.Size" class="img-fluid" />

                            </div>

                            <h4 title="@image.Name">@image.Name</h4>
                            <p>@image.Month, @image.Year</p>
                            <button type="button" class="btn btn-outline-secondary btn-float-l">
                                @Html.ActionLink(" ", "PhotoScreen", new { id = image.ID }, new { @class = "glyphicon glyphicon-fullscreen" })
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-float-r">
                                @Html.ActionLink(" ", "SureToRemovePhoto", new { id = image.ID }, new { @class = "glyphicon glyphicon-trash" })
                            </button>

                        </div>


                    }
                }
            </div>
        </td>
    </tr>
</table>