@model ImageServiceWeb.Models.DetailsModel

@{
    /**/

    ViewBag.Title = "Index";
}


<h2>Image Web</h2>
<p>
    Service is <span style="font-weight:bold;">@Model.ServerStatus</span>.
    Total number of images in output directory is <span style="font-weight:bold;">@Model.NumberOfImages</span>.
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="table table-striped-group">
        <table class="table table-hover">
            <thead>

                <tr style="font-weight:bold;">
                    <th scope="col">Name</th>
                    <th scope="col">ID</th>
                </tr>
            </thead>

            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.ID)</td>
                </tr>
            }

        </table>
    </div>
}

