@model ImageServiceWeb.Models.PhotosModel
@{
    ViewBag.Title = "Photos";
}

<head>
    <link href="@Url.Content("~/Styles/Photos.css")" rel="stylesheet" type="text/css" />
</head>

<h2>Photos</h2>
<div class="album-container">
    @{
        foreach (var image in Model.Photos)
        {
            <div class="photos-container">
                <img src="https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_400x400.jpg" class="circular-image" />
                <div class="image-name-container">@image.Name</div>
                <span class="image-date">@image.Month, @image.Year</span>
                <span class="btn btn-trash">
                    @Html.ActionLink(" ", "DeletePhoto", new { id = image.ID }, new { @class = "icon trash" })
                </span>
                <span class="btn btn-expand">
                    @Html.ActionLink(" ", "PhotoScreen", new { id = image.ID }, new { @class = "icon expand" })
                </span>
            </div>
        }
    }
</div>