@model ImageServiceWeb.Models.Photo

@{
    ViewBag.Title = "PhotoScreen";
}
<head>
    <link href="@Url.Content("~/Styles/PhotoScreen.css")" rel="stylesheet" type="text/css" />
</head>
<h2>@Model.Name</h2>
<h3>@Model.ID, @Model.Month, @Model.Year</h3>
<img src="https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_400x400.jpg" />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
