@model ImageServiceWeb.Models.PhotosModel
@{
    ViewBag.Title = "Photos";
}


<h2>Photos</h2>

<div class="list-group">
    @{
        foreach (var image in Model.Photos)
        {
            <div class="list-group-item col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="text-center">
                    <img src="@Url.Content("..\\"+@image.Path)" width="@image.Size" height="@image.Size" class="img-circle" />
                </div>
                   
                            <h3>@image.Name</h3>
                            <p>@image.Month, @image.Year</p>
                            <button type="button" class="btn btn-outline-secondary">
                                @Html.ActionLink(" ", "SureToRemovePhoto", new { id = image.ID }, new { @class = "glyphicon glyphicon-trash" })
                            </button>
                            <button type="button" class="btn btn-outline-secondary">
                                @Html.ActionLink(" ", "PhotoScreen", new { id = image.ID }, new { @class = "glyphicon glyphicon-expand" })
                            </button>
            </div>
        }
    }
</div>
<br />
